Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'export RUSTC_WRAPPER="" ; cargo clippy -v --all-targets --all-features --tests --benches --examples -- -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
  language: rust
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --release --all -v'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
  language: rust
  pass_filenames: false

format bugfix
  docs/src/TEST-integration_test.md
Due: none

fix
  tests/common/docker_lib.sh
Due: cargo-build, cargo-test

delete useless space
  docs/src/TEST-integration_test.md
Due: none

delete useless space
  tests/common/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

delete useless space
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

fix cargo-fmt
  tests/common/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

newline bugfix
  tests/common/docker_lib.sh
  tests/common/lib.sh
  tests/common/log.sh
  tests/common/test_frame_docker.sh
  tests/docker_example_001/check.sh
  tests/docker_example_001/docker_example_001.sh
Due: cargo-build, cargo-test

revert
  tests/common/docker_lib.sh
  tests/common/lib.sh
  tests/common/log.sh
  tests/common/test_frame_docker.sh
  tests/docker_example_001/check.sh
  tests/docker_example_001/docker_example_001.sh
Due: cargo-build, cargo-test

newline bugfix
  tests/common/docker_lib.sh
  tests/common/lib.sh
  tests/common/log.sh
  tests/common/mod.rs
  tests/common/test_frame_docker.sh
  tests/docker_example_001.rs
  tests/docker_example_001/check.sh
  tests/docker_example_001/docker_example_001.sh
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

ignore test
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

add remark
  docs/src/TEST-integration_test.md
Due: none

fix typo
  .gitignore
  ci/00-pre.sh
  ci/01-pre-commit.sh
  process1/src/plugin/mod.rs
  tests/README.md
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

ci: add commit-msg check
  .pre-commit-config.yaml
  ci/00-pre.sh
  ci/01-pre-commit.sh
  ci/commit-msg
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

optimized the code structure
  Cargo.toml
  process1/src/manager/data/unit_dep_conf.rs
  process1/src/manager/manager.rs
  process1/src/manager/unit/mod.rs
  process1/src/manager/unit/unit_base/ub_relation_atom.rs
  process1/src/manager/unit/unit_datastore/mod.rs
  process1/src/manager/unit/unit_datastore/unit_dep.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

move lookup_path to manager
  process1/src/manager/manager.rs
  process1/src/manager/unit/job/job_manager.rs
  process1/src/manager/unit/job/job_notify.rs
  process1/src/manager/unit/job/job_stat.rs
  process1/src/manager/unit/job/job_table.rs
  process1/src/manager/unit/job/job_transaction.rs
  process1/src/manager/unit/job/job_unit_entry.rs
  process1/src/manager/unit/uload_util/unit_file.rs
  process1/src/manager/unit/unit_datastore/unit_child.rs
  process1/src/manager/unit/unit_datastore/unit_dep.rs
  process1/src/manager/unit/unit_datastore/unit_sets.rs
  process1/src/manager/unit/unit_entry/u_entry.rs
  process1/src/manager/unit/unit_manager.rs
  process1/src/manager/unit/unit_runtime.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

add enable and disable command support
  presets/80-process1.preset
  process1/src/manager/manager.rs
  process1/src/manager/pre_install.rs
  process1/src/proto/execute.rs
  process1/src/proto/mod.rs
  src/pctrl/main.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

add support for Install section, read preset file from .preset files and create symlink depend on Install config
  build.sh
  libutils/src/path_lookup.rs
  presets/80-process1.preset
  process1/Cargo.toml
  process1/src/manager/manager.rs
  process1/src/manager/mod.rs
  process1/src/manager/pre_install.rs
  process1/src/manager/unit/data/unit_state.rs
  process1/src/manager/unit/job/job_notify.rs
  process1/src/manager/unit/mod.rs
  process1/src/manager/unit/uload_util/mod.rs
  process1/src/manager/unit/unit_base/mod.rs
  process1/src/manager/unit/unit_entry/uu_load.rs
  process1/src/manager/unit/unit_manager.rs
  process1/src/manager/unit/unit_rentry.rs
  test_units/test.service
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

fix preset search path for run test error
  libutils/src/path_lookup.rs
  process1/src/manager/pre_install.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

ignore run test with docker
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

add support for start rate limit
  components/mount/src/mount_mng.rs
  components/mount/src/mount_unit.rs
  components/service/src/service_mng.rs
  components/service/src/service_rentry.rs
  components/socket/src/socket_mng.rs
  process1/src/manager/unit/job/job_entry.rs
  process1/src/manager/unit/unit_base/ub_basic.rs
  process1/src/manager/unit/unit_entry/mod.rs
  process1/src/manager/unit/unit_entry/u_entry.rs
  process1/src/manager/unit/unit_entry/uu_ratelimit.rs
  process1/src/manager/unit/unit_rentry.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

remove managerX struct and refactor command and signal code decoupling of manager
  Cargo.toml
  process1/examples/signal.rs
  process1/src/manager/commands.rs
  process1/src/manager/manager.rs
  process1/src/manager/mod.rs
  process1/src/manager/signals.rs
  process1/src/manager/unit/mod.rs
  process1/src/manager/unit/unit_base/ub_relation_atom.rs
  process1/src/manager/unit/unit_datastore/mod.rs
  process1/src/manager/unit/unit_datastore/unit_dep.rs
  process1/src/proto/execute.rs
  process1/src/proto/frame.rs
  process1/src/proto/mod.rs
  src/sysmaster/main.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor manager and command singal,decoupling
  libsysmaster/src/manager/manager.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: refactor manager and command singal,decoupling manager
  libsysmaster/src/manager/unit/unit_manager.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

删除文件 libsysmaster/src/manager/data/unit_dep_conf.rs
  libsysmaster/src/manager/data/unit_dep_conf.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: add project code specifications
  CONTRIBUTING.md
  requirements.sh
Due: cargo-build, cargo-test

feature: add support for KillMode config
  coms/service/src/service_config.rs
  coms/service/src/service_mng.rs
  coms/service/src/service_rentry.rs
  coms/socket/src/socket_config.rs
  coms/socket/src/socket_mng.rs
  coms/socket/src/socket_rentry.rs
  src/libsysmaster/src/manager/mod.rs
  src/libsysmaster/src/manager/unit/mod.rs
  src/libsysmaster/src/manager/unit/unit_base/ub_basic.rs
  src/libsysmaster/src/manager/unit/unit_entry/mod.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_entry.rs
  src/libsysmaster/src/manager/unit/unit_entry/uu_kill.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: fix bugs of check start rate limit and comment the test case
  coms/mount/src/mount_mng.rs
  coms/service/src/service_mng.rs
  coms/socket/src/socket_mng.rs
  libs/libutils/src/path_lookup.rs
  src/libsysmaster/src/manager/manager.rs
  src/libsysmaster/src/manager/unit/unit_manager.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: hidder unimager for sub unit
  coms/mount/src/mount_comm.rs
  coms/mount/src/mount_manager.rs
  coms/mount/src/mount_unit.rs
  coms/service/src/service_comm.rs
  coms/service/src/service_manager.rs
  coms/service/src/service_unit.rs
  coms/socket/src/socket_comm.rs
  coms/socket/src/socket_manager.rs
  coms/socket/src/socket_unit.rs
  coms/target/src/target_comm.rs
  coms/target/src/target_manager.rs
  coms/target/src/target_mng.rs
  coms/target/src/target_unit.rs
  src/libsysmaster/src/manager/mod.rs
  src/libsysmaster/src/manager/unit/job/job_manager.rs
  src/libsysmaster/src/manager/unit/job/job_notify.rs
  src/libsysmaster/src/manager/unit/job/job_stat.rs
  src/libsysmaster/src/manager/unit/job/job_table.rs
  src/libsysmaster/src/manager/unit/job/job_transaction.rs
  src/libsysmaster/src/manager/unit/job/job_unit_entry.rs
  src/libsysmaster/src/manager/unit/mod.rs
  src/libsysmaster/src/manager/unit/um_interface.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_child.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_dep.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_sets.rs
  src/libsysmaster/src/manager/unit/unit_entry/mod.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_entry.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_interface.rs
  src/libsysmaster/src/manager/unit/unit_entry/uf_interface.rs
  src/libsysmaster/src/manager/unit/unit_manager.rs
  src/libsysmaster/src/manager/unit/unit_runtime.rs
  src/libsysmaster/src/plugin/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: the leftover problems with great influence in the process of closed-loop reliability coding.
  coms/mount/src/mount_manager.rs
  coms/service/src/service_config.rs
  coms/socket/src/socket_base.rs
  coms/socket/src/socket_comm.rs
  coms/socket/src/socket_config.rs
  coms/socket/src/socket_load.rs
  coms/socket/src/socket_mng.rs
  coms/socket/src/socket_port.rs
  coms/socket/src/socket_rentry.rs
  src/libsysmaster/src/manager/manager.rs
  src/libsysmaster/src/manager/unit/job/job_entry.rs
  src/libsysmaster/src/manager/unit/job/job_manager.rs
  src/libsysmaster/src/manager/unit/job/job_notify.rs
  src/libsysmaster/src/manager/unit/job/job_stat.rs
  src/libsysmaster/src/manager/unit/job/job_table.rs
  src/libsysmaster/src/manager/unit/job/job_transaction.rs
  src/libsysmaster/src/manager/unit/job/job_unit_entry.rs
  src/libsysmaster/src/manager/unit/unit_manager.rs
  src/libsysmaster/src/reliability/api.rs
  src/libsysmaster/src/reliability/last.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: refactor unit test code for unit
  coms/mount/src/mount_comm.rs
  coms/mount/src/mount_manager.rs
  coms/mount/src/mount_unit.rs
  coms/service/src/service_comm.rs
  coms/service/src/service_manager.rs
  coms/service/src/service_unit.rs
  coms/socket/src/socket_comm.rs
  coms/socket/src/socket_manager.rs
  coms/socket/src/socket_unit.rs
  coms/target/src/target_comm.rs
  coms/target/src/target_manager.rs
  coms/target/src/target_unit.rs
  docs/res/unitManger.jpg
  src/libsysmaster/src/manager/mod.rs
  src/libsysmaster/src/manager/unit/job/job_manager.rs
  src/libsysmaster/src/manager/unit/job/job_notify.rs
  src/libsysmaster/src/manager/unit/job/job_rentry.rs
  src/libsysmaster/src/manager/unit/job/job_stat.rs
  src/libsysmaster/src/manager/unit/job/job_table.rs
  src/libsysmaster/src/manager/unit/job/job_transaction.rs
  src/libsysmaster/src/manager/unit/job/job_unit_entry.rs
  src/libsysmaster/src/manager/unit/mod.rs
  src/libsysmaster/src/manager/unit/test/mod.rs
  src/libsysmaster/src/manager/unit/um_interface.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_child.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_dep.rs
  src/libsysmaster/src/manager/unit/unit_datastore/unit_sets.rs
  src/libsysmaster/src/manager/unit/unit_entry/mod.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_entry.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_interface.rs
  src/libsysmaster/src/manager/unit/unit_entry/uf_interface.rs
  src/libsysmaster/src/manager/unit/unit_manager.rs
  src/libsysmaster/src/manager/unit/unit_runtime.rs
  src/libsysmaster/src/plugin/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

cleancode: clean warning
  libs/libutils/src/config_parser.rs
  libs/libutils/src/env_cargo.rs
  libs/libutils/src/error.rs
  libs/libutils/src/file_util.rs
  libs/libutils/src/io_util.rs
  libs/libutils/src/lib.rs
  libs/libutils/src/logger.rs
  libs/libutils/src/mount_util.rs
  libs/libutils/src/proc_cmdline.rs
  libs/libutils/src/process_util.rs
  libs/libutils/src/socket_util.rs
  libs/libutils/src/time_util.rs
  src/libsysmaster/build.rs
  src/libsysmaster/src/manager/unit/mod.rs
  src/libsysmaster/src/manager/unit/test/mod.rs
  src/libsysmaster/src/manager/unit/uload_util/unit_file.rs
  src/libsysmaster/src/manager/unit/um_interface.rs
  src/libsysmaster/src/manager/unit/unit_entry/mod.rs
  src/libsysmaster/src/manager/unit/unit_entry/u_entry.rs
  src/libsysmaster/src/reliability/base.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: call the build_ports after load success, or the build result will be empty
  coms/socket/src/socket_mng.rs
  coms/socket/src/socket_unit.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

Path conditions:
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml|sh|toml)$
  cargo-test: any of: \.(rs|toml|sh|toml)$
