Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks.git"
    rev: v4.3.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
    #  - id: check-executables-have-shebangs
    #  - id: check-shebang-scripts-are-executable
  - repo: "https://github.com/codespell-project/codespell"
    rev: v2.2.1
    hooks:
      - id: codespell
        args: [-I, ci/codespell_ignore_words]
        verbose: true
#  - repo: "https://github.com/psf/black.git"
#    rev: 22.8.0
#    hooks:
#      - id: black

#  - repo: "https://github.com/markdownlint/markdownlint"
#    rev: v0.11.0
#    hooks:
#      - id: markdownlint
#        files: \.(md|mdown|markdown)$
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'export RUSTC_WRAPPER="" ; cargo clippy -v --all-targets --all-features --tests --benches --examples -- -v'
        language: rust
        files: \.rs$
        pass_filenames: false
        verbose: true
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -v --all -- --check -v'
        language: rust
        files: \.rs$
        verbose: true
      - id: cargo-fix
        name: cargo fix
        description: Check the package for errors.
        entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
        language: rust
        files: \.rs$
        verbose: true
      - id: cargo-build
        name: cargo build
        description: build the package for errors.
        entry: bash -c 'cargo build --release --all -v'
        language: rust
        files: \.(rs|toml|sh|toml)$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: test the package for errors.
        entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
        language: rust
        files: \.(rs|toml|sh|toml)$
        pass_filenames: false

#      - id: cargo-check
#        name: cargo check
#        description: Check the package for errors.
#        entry: bash -c 'cargo check --all'
#        language: rust
#        files: \.rs$
#        pass_filenames: false
#     - id: cargo-test
#       name: cargo test
#       description: unit test for the project
#       entry: bash -c 'cargo test --all'
#       language: rust
#       files: \.rs$
#       pass_filenames: false
#      - id: cargo-deny
#        name: cargo deny check
#        description: Check cargo depencencies
#        entry: bash -c 'cargo deny check'
#        language: rust
#        files: \.rs$
#        args: []

clean process1 clippy warning
  process1/src/manager/manager_config.rs
  process1/src/manager/notify.rs
  process1/src/manager/unit/execute/exec_base.rs
  process1/src/manager/unit/execute/exec_spawn.rs
  process1/src/manager/unit/execute/mod.rs
  process1/src/manager/unit/unit_entry/uf_interface.rs
  process1/src/manager/unit/unit_entry/uu_cgroup.rs
  process1/src/manager/unit/unit_entry/uu_load.rs
  process1/src/manager/unit/unit_manager.rs
  process1/src/mount/mount_setup.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

clean warnings for proto module
  .pre-commit-config.yaml
  ci/01-pre-commit.sh
  libutils/src/condition.rs
  process1/build.rs
  process1/examples/signal.rs
  process1/src/proto/abi.proto
  process1/src/proto/abi.rs
  process1/src/proto/execute.rs
  process1/src/proto/frame.rs
  process1/src/proto/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

add docs and fix service state bugs
  components/service/src/service_mng.rs
  docs/res/cgroup.jpg
  docs/res/service_forking.jpg
  docs/res/service_notify.jpg
  docs/res/service_state_trans.jpg
  docs/res/socket_load.jpg
  docs/res/socket_start.jpg
  docs/res/socket_state_trans.jpg
  docs/src/service.md
  docs/src/socket.md
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

clean warnings for manager
  ci/01-pre-commit.sh
  process1/src/manager/commands.rs
  process1/src/manager/manager.rs
  process1/src/manager/mount_monitor.rs
  process1/src/manager/reliability.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

clean warnings for unit
  ci/00-pre.sh
  ci/01-pre-commit.sh
  components/mount/src/mount_unit.rs
  components/service/src/service_config.rs
  components/service/src/service_mng.rs
  components/service/src/service_unit.rs
  components/socket/src/socket_config.rs
  components/socket/src/socket_load.rs
  components/socket/src/socket_unit.rs
  components/target/src/target_unit.rs
  process1/src/manager/data/unit_dep_conf.rs
  process1/src/manager/manager.rs
  process1/src/manager/notify.rs
  process1/src/manager/unit/unit_base/ub_basic.rs
  process1/src/manager/unit/unit_base/ub_job.rs
  process1/src/manager/unit/unit_base/ub_load.rs
  process1/src/manager/unit/unit_datastore/unit_child.rs
  process1/src/manager/unit/unit_datastore/unit_dep.rs
  process1/src/manager/unit/unit_datastore/unit_sets.rs
  process1/src/manager/unit/unit_entry/u_entry.rs
  process1/src/manager/unit/unit_entry/uu_condition.rs
  process1/src/manager/unit/unit_manager.rs
  process1/src/manager/unit/unit_rentry.rs
  process1/src/manager/unit/unit_runtime.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

新建 common
  common/.keep
Due: none

删除文件 common
  common/.keep
Due: none

新建 tests
  tests/.keep
Due: none

删除文件 tests/.keep
  tests/.keep
Due: none

新建 common
  tests/common/.keep
Due: none

add tests/common/mod.rs.
  tests/common/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

删除文件 tests/common/.keep
  tests/common/.keep
Due: none

add tests/common/docker_lib.sh.
  tests/common/docker_lib.sh
Due: cargo-build, cargo-test

add tests/common/lib.sh.
  tests/common/lib.sh
Due: cargo-build, cargo-test

add tests/common/log.sh.
  tests/common/log.sh
Due: cargo-build, cargo-test

add tests/common/test_frame_docker.sh.
  tests/common/test_frame_docker.sh
Due: cargo-build, cargo-test

add tests/docker_example_001.rs.
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

新建 docker_example_001
  tests/docker_example_001/.keep
Due: none

add tests/docker_example_001/docker_example_001.sh.
  tests/docker_example_001/docker_example_001.sh
Due: cargo-build, cargo-test

删除文件 tests/docker_example_001/.keep
  tests/docker_example_001/.keep
Due: none

add tests/docker_example_001/aaa.sh.
  tests/docker_example_001/aaa.sh
Due: cargo-build, cargo-test

add docs/src/test.md.
  docs/src/test.md
Due: none

重命名 tests/docker_example_001/aaa.sh 为 tests/docker_example_001/check.sh
  tests/docker_example_001/check.sh
Due: cargo-build, cargo-test

change aaa to check
  tests/docker_example_001/docker_example_001.sh
Due: cargo-build, cargo-test

rename docs/src/TEST-integration_test.md.
  docs/src/TEST-integration_test.md
  docs/src/test.md
Due: none

delete useless sentence
  docs/src/TEST-integration_test.md
Due: none

update docs/src/TEST-integration_test.md.
  docs/src/TEST-integration_test.md
Due: none

add reference
  docs/src/TEST-integration_test.md
Due: none

reference url bugfix
  docs/src/TEST-integration_test.md
Due: none

add new line at end
  tests/docker_example_001/docker_example_001.sh
Due: cargo-build, cargo-test

ci fix
  tests/docker_example_001/check.sh
Due: cargo-build, cargo-test

ci fix
  tests/common/docker_lib.sh
Due: cargo-build, cargo-test

ci fix
  tests/common/lib.sh
Due: cargo-build, cargo-test

ci fix
  tests/common/log.sh
Due: cargo-build, cargo-test

ci fix
  tests/common/mod.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

ci fix
  tests/common/test_frame_docker.sh
Due: cargo-build, cargo-test

ci fix
  tests/docker_example_001.rs
Due: cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test

ci fix
  docs/src/TEST-integration_test.md
Due: none
